*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: url(title.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}

.sidenav {
    height: 97.5%;
    width: 190px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  


body
{
    font-family: monospace;
}

.row
{
    max-width: 1200px;
    margin: auto;

}

.landing
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;

}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: right;
    margin-top: 275px;
}

.button
{
    margin-top: 30px;
    margin-left: 440px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-one
{
    font-family: "Roboto", sans-serif;
}

.btn-two
{
    font-family: "Roboto", sans-serif;
}

.btn-one:hover
{
    background-color: darkmagenta;
    transition: all 0.5s ease-in;
}

.btn-two:hover
{
    background-color: darkmagenta;
    transition: all 0.5s ease-in;
}

.main
{
    margin: 0 50px;
}

.threecol
{
    display:flex;
    justify-content: center;
    align-items: center;
}

.col1
{
    padding: 10px 15px;
    grid-column: 1/2;;
}

.col2
{
    padding: 10px 15px;
    grid-column: 2/3;
}

.col3
{
    padding: 10px 15px;
    grid-column: 3/4;
}


.image1
{
    border-radius: 50%;
    max-width: 500px;
    height: 500x;
    padding: 100px;
}

.image2
{
    border-radius: 50%;
    max-width: 500px;
    height: 500x;
    padding: 100px;
}

.image3
{
    border-radius: 50%;
    max-width: 500px;
    height: 500x;
    padding: 100px;
}
.image4
{
    border-radius: 50%;
    max-width: 500px;
    height: 500x;
    padding: 100px;
}

.image5
{
    border-radius: 50%;
    max-width: 500px;
    height: 500x;
    padding: 100px;
}





.type.jpg
{
    max-width: 100%;
    border-radius: 50%;
}

.type.jpg 
{
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
    border-radius: 50%;
  }

h2
{
   font-family:  sans-serif;
   font-size: 1.875em; 
   text-align: center;
}

h3
{
    font-weight: normal;
    font-family: sans-serif
    
}

.wrapper
{
    display: grid;
    grid-template-columns: 70% 30%;
}


.slideExpandUp{
	animation-name: slideExpandUp;
	-webkit-animation-name: slideExpandUp;	

	animation-duration: 1.6s;	
	-webkit-animation-duration: 1.6s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease -out;

	visibility: visible !important;	
}

@keyframes slideExpandUp {
	0% {
		transform: translateY(100%) scaleX(0.5);
	}
	30%{
		transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		transform: translateY(2%) scaleX(0.5);
	}
	50%{
		transform: translateY(0%) scaleX(1.1);
	}
	60%{
		transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		transform: translateY(0%) scaleX(1);		
	}
}

@-webkit-keyframes slideExpandUp {
	0% {
		-webkit-transform: translateY(100%) scaleX(0.5);
	}
	30%{
		-webkit-transform: translateY(-8%) scaleX(0.5);
	}	
	40%{
		-webkit-transform: translateY(2%) scaleX(0.5);
	}
	50%{
		-webkit-transform: translateY(0%) scaleX(1.1);
	}
	60%{
		-webkit-transform: translateY(0%) scaleX(0.9);		
	}
	70% {
		-webkit-transform: translateY(0%) scaleX(1.05);
	}			
	80%{
		-webkit-transform: translateY(0%) scaleX(0.95);		
	}
	90% {
		-webkit-transform: translateY(0%) scaleX(1.02);
	}	
	100%{
		-webkit-transform: translateY(0%) scaleX(1);		
	}
}


.p
{
    font-family:  sans-serif;
    font-size: 1.875em; 
    text-align: left;
    color: darkred
 }

 .q
{
    font-family:  sans-serif;
    font-size: 1.100em; 
    text-align: justify;
    color:blue
    
 }